<form novalidate (ngSubmit)="login()">
    <fieldset ngModelGroup="name">
      <div>
        <label>First Name</label>
        <input type="text"
               class="form-control"
               name="firstName"
               [(ngModel)]="model.firstName">
      </div>
  
      <div>
        <label>Last Name</label>
        <input type="text"
               class="form-control"
               name="lastName"
               [(ngModel)]="model.lastName">
      </div>
    </fieldset>
  
    <div>
      <label>Email</label>
      <input type="email"
             class="form-control"
             name="email"
             [(ngModel)]="model.email">
    </div>
  
    <div>
      <label>Password</label>
      <input type="password"
             class="form-control"
             name="password"
             [(ngModel)]="model.password">
    </div>
    <button type="submit"
	        class="btn btn-primary">Submit
	</button>
<pre>{{model | json}}</pre>
  </form>
