<p>
  buysell works!
</p>
<graph class='graph'></graph>

<form class="form1" name="BUY">
    <a>SELL {{XRP}}</a>
    <br>
    XRP Balance {{inrValue}}
    <br>
    <input placeholder="Volume" required="" step="1" type="number">
    <br>
    <br>
    <input type="number" name="Price" placeholder="Price per Coin">
    <br>
    <br>
    <input type="number" name="Total Amount" placeholder="Total Amount">
    <br>
    <br>
    <input type="submit" value="SELL">
</form>

<form class="form1" name="BUY">
    <a>BUY {{XRP}}</a>
    <br>
    INR Balance {{inrValue}}
    <br>
    <input placeholder="Volume" required="" step="1" type="number">
    <br>
    <br>
    <input type="number" name="Price" placeholder="Price per Coin">
    <br>
    <br>
    <input type="number" name="Total Amount" placeholder="Total Amount">
    <br>
    <br>
    <input type="submit" value="BUY">
</form>
