/* You can add global styles to this file, and also import other style files */
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background-color: rgb(245, 239, 239);
}

li.navigation  {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
